body {
    background-color: white;
    color: black;
    font-family: Times, "Times New Roman", Garamond, serif;

}
strong {
    background-color: black;
    font-size: 24pt;
    text-align: center;
    font-family: Helvetica,
    Verdana, Arial, sans-serif;
    padding: 7pt;
    text-transform: uppercase;
}