@font-face {
    font-family:'Alex-Brush';
    src: url('./fonts/AlexBrush-Regular.ttf');
}
pre.cursive {
    font-family: 'Alex-Brush', Georgia, serif;
    font-size: 22pt;
    color: purple;
    line-height: 1.5em;
    margin: auto;
    width: 50%;
    padding: 50px 30px;
}

body {
    padding: 3% 0;
    box-sizing: border-box;
    background-color: lavender;
    background-image: url("./assets/corner-LT-pattern.png");
    background-position: left top;
    background-repeat: no-repeat;
}

div#box {
    margin: auto;
    width: 60%;
    box-sizing: border-box;
    background-color: whitesmoke;
    min-width: 700px;
    background-image: url("./assets/ytile-pattern.png");
    background-position: 80px 0px;
    background-repeat: repeat-y;
}

.border-effect {
    border-radius: 15px 70px;
    box-shadow: 10px 10px 5px #aa99aa;
}
