/* Write the CSS for you answer here */
.landscape {
    background-image: url("./assets/landscape.jpg");
    width: 700px;
    height: 541px;
}

#pohutakawa {
    z-index: -3;
}

.tree #blueBauble{
    position: relative;
    top: -190px;
    left: 40px;
    z-index: 6;
}
.tree #redBauble {
    position: relative;
    top: -280px;
    left: 50px;
    z-index: 100;
}
.tree #orangeBauble {
    position: relative;
    top: -220px;
    left: 250px;
    z-index: 100;
}
.tree #pinkBauble {
    position: relative;
    top: -320px;
    left: 290px;
    z-index: 5;
}
.tree #dkblueBauble {
    position: relative;
    top: -310px;
    left: 340px;
    z-index: 100;
}